@font-face {
  font-family: b_regular;
  src: url(BAHNSCHRIFT.TTF);
  font-weight: 320;
}
@font-face {
  font-family: b_semibold;
  src: url(BAHNSCHRIFT.TTF);
  font-weight: 350;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "b_regular";
  font-weight: 350;
  letter-spacing: 0.8px;
}

html,
body {
  width: 100%;
  height: 100%;
}

.section-start {
  width: 100%;
}
.section-contanet {
  width: 95%;
  margin: auto;
}

.menu i {
  font-size: 1.3rem;
}

.navpart-1 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding-top: 10px;
  margin-bottom: 20px;
}
.navpart-1 .logo {
  width: 60px;
  height: 60px;
}

.navpart-1 .logo img {
  width: 100%;
  height: 100%;
}

.namep .circle {
  background-color: #333;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 0 4px;
}
.namep h4 {
  white-space: nowrap;
  line-height: 23px;
}
.namep h4 p {
  display: inline-block;
}
.namep {
  display: flex;
  align-items: center;
  grid-gap: 1rem;
}
.namep span {
  width: 33px;
  height: 2px;
  margin-top: 10px;
  background-color: #ff9a30;
}

.namep .name-text {
  height: 80px;
  width: 300px;
  overflow: hidden;
  position: relative;
  top: 33px;
}

.namep .name-text h4 {
  position: absolute;
  top: 80px;
  font-size: 18px;
}

/* /// hero sec // */

.herosec1 h3 {
  font-size: 25px;
}
.herosec1 span {
  color: #ff9a30;
  padding-right: 3px;
}

.hero-section {
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
  align-items: self-end;
  margin-bottom: 2rem;
}
.hero-section .herosec2 p {
  border-left: #ff9a30 2px solid;
  padding-left: 8px;
  font-size: 1.1rem;
  color: #333;
}

.hero-section h1,
.hero-section h2 p {
  font-size: 70px;
  padding: 15px 0;
  font-family: "b_semibold";
  font-weight: 350;
}
.hero-section h1 {
  color: #b3b3b3;
}
.hero-section h1 p,
.hero-section h1 span {
  color: #000;
}
.hero-section h2 {
  font-size: 70px;
  height: 100px;
  width: max-content;
  margin-top: -1rem;
  overflow: hidden;
}

.h2 p {
  position: absolute;
  opacity: 0;
  animation-name: nameanime;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/* // main sec // */

.main-content {
  margin-top: 90px;
  position: relative;
}
.skil-sec h3 {
  border-bottom: #ff9a30 2px solid;
  padding-bottom: 0.5rem;
  width: max-content;
  color: #000;
  font-family: "b_semibold";
  font-size: 22px;
}
.skil-sec p {
  padding-top: 20px;
  color: #333;
  font-size: 1.1rem;
}

.skils {
  margin: 2rem 0;
}

.skil-list {
  height: 80px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: #ccccccab 1px solid;
  overflow: hidden;
  cursor: pointer;
}
.skil-list p {
  font-size: 2rem;
  position: relative;
  z-index: 9;
  font-family: "b_semibold";
}
.skil-list .overlay {
  background-color: #ff9a30;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -100%;
  left: 0;
  transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
}
.skil-list:hover .overlay,
.skil-list:hover p {
  top: 0;
  color: #fff;
}

.skills-card {
  position: fixed;
  top: 25%;
  left: 50%;
  width: 300px;
  height: 320px;
  background-color: #fff;
  /* box-shadow:0px 2px 15px 2px rgba(0,0,0,0.1); */
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  z-index: 99;
  pointer-events: none;
  display: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.skil-list img {
  width: 250px;
  display: none;
}

/* // work // */

.work-start{
  margin-top: 90px;
}

.work-sec h3{
  border-bottom: #ff9a30 2px solid;
  padding-bottom: 0.5rem;
  width: max-content;
  color: #000;
  font-family: "b_semibold";
  font-size: 22px;
  padding-bottom:20px;
}
.work-div-content{
  width:100%;
  height:500px;
  background-color:#e6e6e6;
  margin:2rem 0;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.work-div-content{
  display: flex;
  justify-content:flex-end;
  align-items: center;
  width:100%;
}
.work-div-txt{
  width:35%;
  height:100%;
  /* border:1px solid #000; */
  margin-left:20px;
  display: flex;
  justify-content:space-evenly;
  align-items:center;
  flex-direction: column;
  grid-gap:2rem;
  padding:2rem;
}

.work-project-sec{
display: flex;
flex-direction: column;
grid-gap:2rem;
position: relative;
width: 100%;
height:200px;
}

.work-project-sec::before{
  content: '';
  height:100%;
  width:4px;
  background-color: #fff;
  position: absolute;
  margin-left:20px;
}

.work-project-sec h4{
  border-left:2px solid transparent;
  padding-left:20px;
  height:100%;
  width: 100%;
  position: relative;
  padding-top:2px;
}


.work-project-sec h4{
  font-size:1.8rem;
  margin-left:1.3rem;
  color:#333;
}

.work-div-txt p{
  color: #333;
  width: 100%;
 }


 
.work-div-images{
  width:55%;
  height:100%;
  background-color: #fff;
  margin-left:20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
